.SignUp {
  padding-top: 200px;
  background: linear-gradient(to bottom, #4117e5, #9a348e, #4117e5);
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.main {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:absolute;
}

.info-line{
  color: white;
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  left: 0%;
  right: 0%;
  transform: translateX(-0%);
  margin-top: 20px;
  position:absolute; 
  top: 100px; 
  z-index: 1;
}

.content-container {
  color: #fff;
  background: transparent;
  border-color: #500f49;
  border-radius: 20px 20px 0 0;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  max-width: 70%;
  overflow:hidden;
  transform: translateY(100%);
  left: 0%;
  right: 0%;
  opacity: 0;
  transition: transform 0.8s ease-in-out, max-height 1s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  bottom: -100%;
}

.content-container.active {
  transform: translateY(0); 
  background:#9a348e;
  border-color: #500f49;
  padding: 60px;
  opacity:1;
  max-height: 550px;
  bottom: 0;
}

.button-email {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: transparent;
  outline: 1px solid #fca17d;;
  outline-offset: 3px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.button-email:hover {
  background-color: #9a34ae; 
  transform: scale(1.05);
}

.content-container.closing {
  max-height: 0; 
  transform: translateY(100%);
  opacity:0;
  bottom: -100%;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 0;
  position: relative;
  padding-top: 20px;
}

.toggle-buttons button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  cursor: pointer;
  border-radius: 50px 50px 0 0; 
  transition: background-color 0.5s ease-out, transform 0.5s ease-out, border-radius 0.5s ease-out;
  position: relative;
  z-index: 3; 
}

.toggle-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.toggle-buttons button.active {
  background-color: #9a34ae;
  font-weight: bold;
  transform: scale(1.05);
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
  transform: translateY(-10px);
}

.toggle-buttons button:after {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 5px;
  background-color: #9a34ae;
  border-radius: 10px;
}

.updates-footSU {
  background: linear-gradient(to bottom, #6b2473, #390dead5);
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 300px; 
  margin-top: 0; 
  width: 100%;
}

.updates-footSU h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.updates-footSU h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.updates-footSU p {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 500px;
}

.mailing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  width: 100%;
  max-width: 500px;
}

.mailing-list .input-group {
  display: flex; 
  justify-content: space-between;  
  width: 100%;
  gap: 15px;
}

.mailing-list input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1;
}

.mailing-list input:focus {
  outline: none;
  border-color: #9a34ae;
}


.mailing-list input, .mailing-list button {
  padding: 10px;
  transition: all 0.3s ease;
}