.SignUp {
  /* Background with gradient */
  margin-top: 90px;
  background: linear-gradient(to bottom, #4117e5, #9a348e, #4117e5);
  min-height: 100vh;
  color: white;
}

.main {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; /* Allow content to wrap */
}

.main-left, .main-right {
  flex: 1; /* Ensure both sections take equal width */
  display: flex;
  justify-content: center;
  align-items: center; /* Center content */
  overflow: auto; /* Ensure content can scroll */
  height: 100%; /* Full height of the parent container */
  padding: 0 20px;
}

.Home, .Family {
  text-align: center;
  margin: 0;
}

.button-link {
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  border-radius: 30px;
  font-weight: lighter;
  font-style: italic;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  margin-top: 10px;
}

.button-link:hover {
  background-color: #9a34ae;
  outline-color: #fca17d;
  transform: scale(1.05);
}

.updates-foot {
  background: linear-gradient(to bottom, #6b2473, #390dead5);
  color: white;
  display: flex; /* Use flexbox to align content */
  flex-direction: column; /* Stack the content vertically */
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
  text-align: center; /* Center text */
  padding: 50px 20px; /* Add padding for spacing */
  min-height: 300px; /* Ensure the footer has a minimum height */
  margin-top: 0; /* Reset any unnecessary margin */
}

.updates-foot h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.updates-foot h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.updates-foot p {
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 700px;
}

.mailing-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  width: 100%;
  max-width: 500px;
}

.mailing-list .input-group {
  display: flex; 
  justify-content: space-between;  
  width: 100%;
  gap: 15px;
}

.mailing-list input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  flex: 1;
}

.mailing-list input:focus {
  outline: none;
  border-color: #9a34ae;
}

.mailing-list button {
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  border-radius: 30px;
  font-weight: lighter;
  font-style: italic;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mailing-list button:hover {
  background-color: #9a34ae;;
  transform: scale(1.05);
}

.mailing-list input, .mailing-list button {
  padding: 10px;
  transition: all 0.3s ease;
}